@{
    ViewData["Title"] = "Bảng điều khiển";
}

<div class="row">
    <div class="col-lg-8">
        <div class="card w-100">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Tổng quan truy cập</h4>
                        <p class="card-subtitle">
                            Thống kê theo tuần
                        </p>
                    </div>
                    <div class="ms-auto">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item text-primary">
                                <span class="round-8 text-bg-primary rounded-circle me-1 d-inline-block"></span>
                                Người dùng mới
                            </li>
                            <li class="list-inline-item text-info">
                                <span class="round-8 text-bg-info rounded-circle me-1 d-inline-block"></span>
                                Lượt truy cập
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Biểu đồ này sẽ được khởi tạo bằng JavaScript trong file dashboard.js đã có ở Layout -->
                <div id="sales-overview" class="mt-4 mx-n6"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div class="d-flex align-items-start">
                    <div>
                        <h4 class="card-title">Thống kê Tuần</h4>
                        <p class="card-subtitle">Lượt tương tác</p>
                    </div>
                    <div class="ms-auto">
                        <div class="dropdown">
                            <a href="javascript:void(0)" class="text-muted" id="year1-dropdown" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="ti ti-dots fs-7"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="year1-dropdown">
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0)">Tuần này</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0)">Tuần trước</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mt-4 pb-3 d-flex align-items-center">
                    <span class="btn btn-primary rounded-circle round-48 hstack justify-content-center">
                        <i class="ti ti-user-plus fs-6"></i>
                    </span>
                    <div class="ms-3">
                        <h5 class="mb-0 fw-bolder fs-4">Tài khoản mới</h5>
                        <span class="text-muted fs-3">5 tài khoản</span>
                    </div>
                    <div class="ms-auto">
                        <span class="badge bg-secondary-subtle text-muted">+10%</span>
                    </div>
                </div>
                <div class="py-3 d-flex align-items-center">
                    <span class="btn btn-warning rounded-circle round-48 hstack justify-content-center">
                        <i class="ti ti-article fs-6"></i>
                    </span>
                    <div class="ms-3">
                        <h5 class="mb-0 fw-bolder fs-4">Bài viết mới</h5>
                        <span class="text-muted fs-3">12 bài viết</span>
                    </div>
                    <div class="ms-auto">
                        <span class="badge bg-secondary-subtle text-muted">+25%</span>
                    </div>
                </div>
                <div class="py-3 d-flex align-items-center">
                    <span class="btn btn-success rounded-circle round-48 hstack justify-content-center">
                        <i class="ti ti-message-dots fs-6"></i>
                    </span>
                    <div class="ms-3">
                        <h5 class="mb-0 fw-bolder fs-4">Bình luận mới</h5>
                        <span class="text-muted fs-3">30 bình luận</span>
                    </div>
                    <div class="ms-auto">
                        <span class="badge bg-secondary-subtle text-muted">+8%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="col-12"> *@
    @*     <div class="card"> *@
    @*         <div class="card-body"> *@
    @*             <div class="d-md-flex align-items-center"> *@
    @*                 <div> *@
    @*                     <h4 class="card-title">Hiệu suất người dùng</h4> *@
    @*                     <p class="card-subtitle"> *@
    @*                         Những người dùng hoạt động tích cực nhất *@
    @*                     </p> *@
    @*                 </div> *@
    @*                 <div class="ms-auto mt-3 mt-md-0"> *@
    @*                     <select class="form-select theme-select border-0" aria-label="Default select example"> *@
    @*                         <option value="1">Tháng 10, 2024</option> *@
    @*                         <option value="2">Tháng 9, 2024</option> *@
    @*                         <option value="3">Tháng 8, 2024</option> *@
    @*                     </select> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="table-responsive mt-4"> *@
    @*                 <table class="table mb-0 text-nowrap varient-table align-middle fs-3"> *@
    @*                     <thead> *@
    @*                         <tr> *@
    @*                             <th scope="col" class="px-0 text-muted"> *@
    @*                                 Người dùng *@
    @*                             </th> *@
    @*                             <th scope="col" class="px-0 text-muted">Vai trò</th> *@
    @*                             <th scope="col" class="px-0 text-muted"> *@
    @*                                 Mức độ *@
    @*                             </th> *@
    @*                             <th scope="col" class="px-0 text-muted text-end"> *@
    @*                                 Điểm tương tác *@
    @*                             </th> *@
    @*                         </tr> *@
    @*                     </thead> *@
    @*                     <tbody> *@
    @*                         <tr> *@
    @*                             <td class="px-0"> *@
    @*                                 <div class="d-flex align-items-center"> *@
    @*                                     <!-- SỬA: Đường dẫn ảnh --> *@
    @*                                     <img src="~/admin-assets/images/profile/user-3.jpg" class="rounded-circle" width="40" alt="flexy" /> *@
    @*                                     <div class="ms-3"> *@
    @*                                         <h6 class="mb-0 fw-bolder">Nguyễn Văn A</h6> *@
    @*                                         <span class="text-muted">Người cao tuổi</span> *@
    @*                                     </div> *@
    @*                                 </div> *@
    @*                             </td> *@
    @*                             <td class="px-0">Học viên</td> *@
    @*                             <td class="px-0"> *@
    @*                                 <span class="badge bg-info">Thấp</span> *@
    @*                             </td> *@
    @*                             <td class="px-0 text-dark fw-medium text-end"> *@
    @*                                 3.9K *@
    @*                             </td> *@
    @*                         </tr> *@
    @*                         <tr> *@
    @*                             <td class="px-0"> *@
    @*                                 <div class="d-flex align-items-center"> *@
    @*                                     <!-- SỬA: Đường dẫn ảnh --> *@
    @*                                     <img src="~/admin-assets/images/profile/user-5.jpg" class="rounded-circle" width="40" alt="flexy" /> *@
    @*                                     <div class="ms-3"> *@
    @*                                         <h6 class="mb-0 fw-bolder"> *@
    @*                                             Trần Thị B *@
    @*                                         </h6> *@
    @*                                         <span class="text-muted">Người cao tuổi</span> *@
    @*                                     </div> *@
    @*                                 </div> *@
    @*                             </td> *@
    @*                             <td class="px-0">Học viên</td> *@
    @*                             <td class="px-0"> *@
    @*                                 <span class="badge text-bg-primary">Trung bình</span> *@
    @*                             </td> *@
    @*                             <td class="px-0 text-dark fw-medium text-end"> *@
    @*                                 24.5K *@
    @*                             </td> *@
    @*                         </tr> *@
    @*                         <tr> *@
    @*                             <td class="px-0"> *@
    @*                                 <div class="d-flex align-items-center"> *@
    @*                                     <!-- SỬA: Đường dẫn ảnh --> *@
    @*                                     <img src="~/admin-assets/images/profile/user-6.jpg" class="rounded-circle" width="40" alt="flexy" /> *@
    @*                                     <div class="ms-3"> *@
    @*                                         <h6 class="mb-0 fw-bolder"> *@
    @*                                             Lê Văn C *@
    @*                                         </h6> *@
    @*                                         <span class="text-muted">Tình nguyện viên</span> *@
    @*                                     </div> *@
    @*                                 </div> *@
    @*                             </td> *@
    @*                             <td class="px-0">Người hướng dẫn</td> *@
    @*                             <td class="px-0"> *@
    @*                                 <span class="badge bg-warning">Cao</span> *@
    @*                             </td> *@
    @*                             <td class="px-0 text-dark fw-medium text-end"> *@
    @*                                 12.8K *@
    @*                             </td> *@
    @*                         </tr> *@
    @*                     </tbody> *@
    @*                 </table> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    <!-- Các phần còn lại của template... -->
</div>